# Exploratory Data Analysis

In [2]:
#import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [8]:
df = pd.read_csv("../data/raw/gdm.csv")
del df["number"] #delete serial number of record 
df.head()

,age (years),ethnicity,diabetes mellitus,mean diastolic bp (mmhg),mean systolic bp (mmhg),central armellini fat (mm),current gestational age,pregnancies (number),first fasting glucose (mg/dl),bmi pregestational (kg/m),gestational age at birth,type of delivery,child birth weight (g),gestational dm
0,20,NaN,0,73.5,125.0,28.1,"12,1",1.0,NaN,33.20,"41,0",1,3840,0
1,28,0.0,0,75.5,112.0,43.1,"11,5",1.0,76.0,21.50,"39,1",0,2810,0
2,21,1.0,0,70.5,116.0,41.4,"12,6",1.0,86.0,21.41,"39,5",0,2455,0
3,25,0.0,0,92.5,167.0,39.6,"16,2",4.0,NaN,55.36,"39,4",0,3400,0
4,33,1.0,0,79.0,137.0,67.8,"11,2",2.0,86.0,30.85,"40,2",1,3930,1

In [10]:
def eda(df):
    print(f"Columns are: {df.columns}")
    print("-"*50)
    print(f"Shape of the dataframe is: {df.shape}")
    print("-"*50)
    print(f"Basic information: {df.info()}")

eda(df)

Columns are: Index(['number', 'age (years)', 'ethnicity', 'diabetes mellitus',
       'mean diastolic bp (mmhg)', 'mean systolic bp (mmhg)',
       'central armellini fat (mm)', 'current gestational age',
       'pregnancies (number)', 'first fasting glucose (mg/dl)',
       'bmi pregestational (kg/m)', 'gestational age at birth',
       'type of delivery', 'child birth weight (g)', 'gestational dm'],
      dtype='object')
--------------------------------------------------
Shape of the dataframe is: (133, 15)
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   number                         133 non-null    int64
 1   age (years)                    133 non-null    int64
 2   ethnicity                      132 non-null    float64
 3   diabetes mellitus              133 non-null    int64
 4   mean diastolic bp (mmhg)       133 non-null    float64
 5   mean systolic bp (mmhg)        133 non-null    float64
 6   central armellini fat (mm)     133 non-null    float64
 7   current gestational age        133 non-null    object
 8   pregnancies (number)           128 non-null    float64
 9   first fasting glucose (mg/dl)  103 non-null    float64
 10  bmi pregestational (kg/m)      132 non-null    float64
 11  gestational age at birth       133 non-null    object
 12  type of delivery               133 non-null    int64
 13  child birth weight (g)         133 non-null    int64
 14  gestational dm                 133 non-null    int64
dtypes: float64(7), int64(6), object(2)
memory usage: 15.7+ KB
Basic information: None

In [3]:
df.describe()

,number,age (years),ethnicity,diabetes mellitus,mean diastolic bp (mmhg),mean systolic bp (mmhg),central armellini fat (mm),pregnancies (number),first fasting glucose (mg/dl),bmi pregestational (kg/m),type of delivery,child birth weight (g),gestational dm
count,133.000000,133.000000,132.000000,133.000000,133.000000,133.000000,133.000000,128.000000,103.000000,132.000000,133.000000,133.000000,133.000000
mean,161.248120,25.804511,0.439394,0.007519,70.593985,116.578947,44.230827,2.351562,81.272816,27.871136,0.240602,3257.563910,0.135338
std,82.703505,6.366887,0.498204,0.086711,8.657662,13.879602,14.606195,1.686397,9.429794,6.874268,0.429065,490.318578,0.343378
min,1.000000,15.000000,0.000000,0.000000,51.500000,90.000000,12.700000,1.000000,60.000000,15.810000,0.000000,1105.000000,0.000000
25%,78.000000,21.000000,0.000000,0.000000,64.500000,107.000000,34.600000,1.000000,76.500000,22.550000,0.000000,2944.000000,0.000000
50%,187.000000,25.000000,0.000000,0.000000,70.000000,114.000000,42.500000,2.000000,80.000000,26.260000,0.000000,3220.000000,0.000000
75%,228.000000,30.000000,1.000000,0.000000,75.500000,125.000000,52.700000,3.000000,86.500000,30.935000,0.000000,3610.000000,0.000000
max,287.000000,43.000000,1.000000,1.000000,100.500000,167.000000,94.400000,9.000000,114.000000,55.360000,1.000000,4534.000000,1.000000

In [15]:
df[["central armellini fat (mm)", "gestational dm", "bmi pregestational (kg/m)"]]

     central armellini fat (mm)  gestational dm  bmi pregestational (kg/m)
0                         28.10               0                      33.20
1                         43.10               0                      21.50
2                         41.40               0                      21.41
3                         39.60               0                      55.36
4                         67.80               1                      30.85
..                          ...             ...                        ...
128                       13.90               0                      21.22
129                       69.05               1                      36.64
130                       52.50               0                      23.62
131                       31.45               0                      28.76
132                       42.50               0                      44.43

[133 rows x 3 columns]

In [16]:
df['gestational dm'].value_counts()

0    115
1     18
Name: gestational dm, dtype: int64

In [17]:
len(df)

133

In [18]:
115/133

0.8646616541353384

In [19]:
18/133

0.13533834586466165